# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
bin
logic/target
numberbrute-android/target
numberbrute-pc/target